
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 240, 240);
}

.login-box {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    width: 300px;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 2px;
    border-style: solid;
    border-radius: 2px;
}

p {
    font-family: Arial;
    margin: 0px;
}

.header-text:hover,
.username-text:hover,
.password-text:hover {
    cursor: default;
}

.header-text {
    font-size: 50px;
    margin-bottom: 20px;
    text-align: center;
}

.account-options {
    margin-right: 40px;
    margin-bottom: 20px;
}

.username-text,
.password-text,
.first-name-text,
.last-name-text {
    margin-right: 95px;
    font-size: 15px;
    margin-bottom: 5px;
}

.username-box,
.password-box,
.first-name-box {
    margin-bottom: 10px;
}

.username-bar,
.password-bar,
.first-name-bar,
.last-name-bar {
    height: 25px;
    width: 90%;
    border-radius: 3px;
    border-width: 0px;
}

.last-name-box {
    margin-bottom: 40px;
}

.login-text {
    font-size: 20px;
    font-family: Arial;
    font-weight: 500;
    color: white;
}

.login-button {
    border-width: 0px;
    background-color: rgb(177, 4, 38);
    height: 50px;
    width: 150px;
    border-radius: 25px;
    margin-bottom: 15px;
}

.login-button:hover {
    cursor: pointer;
    opacity: .8;
}

.seller-text {
    color: blue;
    text-decoration: underline;
}

.seller-text:hover {
    cursor: pointer;
    opacity: .8;
}