
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 240, 240);
}

.login-box {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    width: 300px;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 2px;
    border-style: solid;
    border-radius: 2px;
}

p {
    font-family: Arial;
    margin: 0px;
}

.header-text:hover,
.username-text:hover,
.password-text:hover {
    cursor: default;
}

.header-text {
    font-size: 50px;
    margin-bottom: 35px;
    text-align: center;
}

.bubble-option {
    padding: 10px 20px; /* Padding around the text */
    background-color: #fff; /* White background */
    border: 2px solid #ddd; /* Grey border */
    border-radius: 20px; /* Rounded corners for the bubble shape */
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Subtle shadow for depth */
    font-size: 16px; /* Legible text size */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s, transform 0.3s;
}

.bubble-option:hover {
    background-color: #e9e9e9; /* Change background on hover */
    transform: scale(1.05); /* Slight scale up effect */
}

.bubble-option.clicked {
    background-color: #4CAF50; /* Change to a different color */
    color: white; /* Change text color for better contrast */
}

.username-text {
    margin-right: 95px;
    font-size: 15px;
    margin-bottom: 5px;
}

.username-box {
    margin-bottom: 20px;
}

.username-bar {
    height: 25px;
    width: 90%;
    border-radius: 3px;
    border-width: 0px;
}

.password-box {
    margin-bottom: 40px;
}

.password-bar {
    width: 90%;
    height: 25px;
    border-radius: 3px;
    border-width: 0px;
}

.password-text {
    margin-right: 95px;
    font-size: 15px;
    margin-bottom: 5px;
}

.login-text {
    font-size: 20px;
    font-family: Arial;
    font-weight: 500;
    color: white;
}

.login-button {
    border-width: 0px;
    background-color: rgb(177, 4, 38);
    height: 50px;
    width: 150px;
    border-radius: 25px;
}

.login-button:hover {
    cursor: pointer;
    opacity: .8;
}

.seller-text {
    margin-top: 15px;
    color: blue;
    text-decoration: underline;
}

.seller-text:hover {
    cursor: pointer;
    opacity: .8;
}