
html,
body {
    background-color: rgb(240, 240, 240);
}

.header {
    margin-top: 50px;
    display: flex;
    padding-left: 25%;
    padding-right: 25%;
}

.search-bar {
    flex: 1;
    width: 0;
    height: 36px;
    font-size: 16px;
    padding-left: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.15);
  }
  
  .search-bar::placeholder {
    font-family: Roboto, Arial;
    font-size: 16px;
  }
  
  .search-button {
    height: 39.5px;
    background-color: rgb(240, 240, 240);
    width: 66px;
    border-width: 1px;
    border-color: rgb(192, 192, 192);
    border-style: solid;
    margin-left: 0px;
    margin-right: 10px;
    
  }
  
  .search-button {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
  }

  .search-button:hover {
    cursor: pointer;
  }
  
  .search-button:hover .tooltip {
    opacity: 1;
  }
  
  .search-button .tooltip {
    font-size: 12px;
    font-family: Roboto, Arial;
    position: absolute;
    background-color: gray;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 2px;
    bottom: -30px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
  }
  
  .search-icon {
    height: 25px;
  }