<!DOCTYPE html>

<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/static/styles/login.css">
  </head>
  <body>
    <div class="login-box">
      <div class="header-text">
        <p>Buyer Login</p>
      </div>
      <form action="/login" method="post">
        <div class="username-text">
          <p>Username</p>
        </div>
        <div class="username-box">
          <input class="username-bar" type="text" id="username" name="username" placeholder="Enter Here">
        </div>
        <div class="password-text">
          <p>Password</p>
        </div>
        <div class="password-box">
          <input class="password-bar" type="password" id="password" name="password" placeholder="Enter Here">
        </div>
        <div>
          <button type="submit" class="login-button">
            <p class="login-text">Login</p>
          </button>
        </div>
      </form>
      
      <div class="login">
        <form action="/login" method="post">
            <input type="hidden" name="go_to_registration" value="true">
            <button type="submit">
                <span class="seller-text">Don't have an account? Register</span>
            </button>
        </form>
      </div>
    </div>
  </body>
</html>