<!DOCTYPE html>

<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="/styles/register.css">
  </head>
  <body>
    <div class="login-box">
      <div class="header-text">
        <p>Register an Account</p>
      </div>
      <form action="/register" method="post">
        <div class="account-options">
          <label for="buyer">
            <input type="radio" name="accountType" id="buyer" value="Buyer">
            Buyer
          </label><br>
          <label for="seller">
            <input type="radio" name="accountType" id="seller" value="Seller">
            Seller
          </label><br>
        </div>
        <div class="username-text">
          <p>Username</p>
        </div>
        <div class="username-box">
          <input class="username-bar" type="text" id="username" name="username" placeholder="Enter Here">
        </div>
        <div class="password-text">
          <p>Password</p>
        </div>
        <div class="password-box">
          <input class="password-bar" type="password" id="password" name="password" placeholder="Enter Here">
        </div>
        <div class="first-name-text">
          <p>First Name</p>
        </div>
        <div class="first-name-box">
          <input class="first-name-bar" type="text" id="first_name" name="first_name" placeholder="Enter Here">
        </div>
        <div class="last-name-text">
          <p>Last Name</p>
        </div>
        <div class="last-name-box">
          <input class="last-name-bar" type="text" id="last_name" name="last_name" placeholder="Enter Here">
        </div>
        <div>
          <button type="submit" class="login-button">
            <p class="login-text">Register</p>
          </button>
        </div>
      </form>
      
      <div class="register">
        <form action="/register" method="post">
            <input type="hidden" name="go_to_login" value="true">
            <button type="submit">
                <span class="seller-text">Already have an Account? Login</span>
            </button>
        </form>
      </div>
    </div>
  </body>
</html>